.maincontent {
    background: url(../images/content/Background.jpg) no-repeat bottom center/cover;
}

.maincontent__mountain-bg {
    background: url(../images/content/MountainBaloon.jpg) no-repeat bottom center/cover;
    clip-path: polygon(0% 0%, 0% 93%, 50% 100%, 100% 93%, 100% 0%)
}

.maincontent__budda-bg {
    background: url(../images/content/budda.jpg) no-repeat bottom center/cover;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 50% 15%);
}