.scroll-wrap {
    width: 10rem;
    margin: 0 auto;
    padding-top: 30%;
}

.welcome__scroll {
 font-size: 1.8rem;
 font-weight: 700;
 font-family: OpenSansSemibold;
 display: flex;
 align-items: center;
 text-decoration: none;

}

.scroll__icon {
  width: 2rem;
  height: 3rem;
  
}