section.feedback.container
    .feedback-wrap
        h4.feedback__title Связаться со мной
        form.feedback__form
            .feedback__data
                label.feedback__block
                    .feedback__label-text Введите ваше имя
                    +icon('avatar', 'feedback-icon')
                    input.feedback__name(type="text" name="name" placeholder="Ковальчук Дмитрий")
                label.feedback__block
                    .feedback__label-text Введите ваш email
                    +icon('envelope', 'feedback-icon')
                    input.feedback__email(type="email" name="email" placeholder="loftschool@study.com")
            .feedback__info
                label.feedback__block
                    .feedback__label-text Сообщение к письму
                    +icon('chat', 'feedback-icon')
                    textarea.feedback__message(name="text") Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса"
        
        include btn