.skills__wrap
    .frontend
        h3.frontend__title Front-end
            .percentage__list
                svg.percentage(viewBox='0 0 200 200', preserveAspectRatio='none')
                    circle.circle_under(cx='100', cy='100', r='80')
                    circle.circle_above(cx='100', cy='100', r='80', style='animation-delay: -50s')
                    text.circle-text(x='70', y='100', dominant-baseline="central") HTML5
                svg.percentage(viewBox='0 0 200 200', preserveAspectRatio='none')
                    circle.circle_under(cx='100', cy='100' r='80')
                    circle.circle_above(cx='100', cy='100', r='80', style='animation-delay: -10s')
                    text.circle-text(x='80', y='100', dominant-baseline="central") CSS3
                svg.percentage(viewBox='0 0 200 200', preserveAspectRatio='none')
                    circle.circle_under(cx='100', cy='100', r='80')
                    circle.circle_above(cx='100', cy='100', r='80', style='animation-delay: -30s')
                    text.circle-text(x='50', y='100', dominant-baseline="central") Javascript
                svg.percentage(viewBox='0 0 200 200', preserveAspectRatio='none')
                    circle.circle_under(cx='100', cy='100', r='80')
                    circle.circle_above(cx='100', cy='100', r='80', style='animation-delay: -90s')
                    text.circle-text(x='70', y='80', dominant-baseline="central") Jquery
                    text.circle-text(x='60', y='110', dominant-baseline="central") и Vue.js
    .workflow
        h3.workflow__title Workflow
            .percentage__list
                svg.percentage(viewBox='0 0 200 200', preserveAspectRatio='none')
                    circle.circle_under(cx='100', cy='100', r='80')
                    circle.circle_above(cx='100', cy='100', r='80', style='animation-delay: -100s')
                    text.circle-text(x='90', y='100', dominant-baseline="central") GIT
                svg.percentage(viewBox='0 0 200 200', preserveAspectRatio='none')
                    circle.circle_under(cx='100', cy='100' r='80')
                    circle.circle_above(cx='100', cy='100', r='80', style='animation-delay: -70s')
                    text.circle-text(x='60', y='100', dominant-baseline="central") Terminal
                svg.percentage(viewBox='0 0 200 200', preserveAspectRatio='none')
                    circle.circle_under(cx='100', cy='100', r='80')
                    circle.circle_above(cx='100', cy='100', r='80', style='animation-delay: -50s')
                    text.circle-text(x='80', y='100', dominant-baseline="central") Gulp
                svg.percentage(viewBox='0 0 200 200', preserveAspectRatio='none')
                    circle.circle_under(cx='100', cy='100', r='80')
                    circle.circle_above(cx='100', cy='100', r='80', style='animation-delay: -45s')
                    text.circle-text(x='60', y='100', dominant-baseline="central") Webpack