.welcome
    .welcome__info
        h2.welcome__title 
            p Личный сайт 
            p веб разработчика
        h1.welcome__name 
            p Ксения
            p Томилова
    include scroll
