.field-data {
    border: none;
    border-bottom: 1px solid #414c63;
    margin-bottom: 2.2rem;
    position: relative;
    width: 100%;
    outline: none;
    background: none;
    color: #414c63;
    font-family: "Open Sans";
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 3rem;
    padding-bottom: 0.6rem;
    padding-left: 2.8rem;
}
